#container_top {
    padding: 1%;
}

#container_middle {
    padding: 1%;
}

#container_bottom {
    padding: 1%;
}

#focus {
    background: red;
    width: 100%;
}

#context {
    background: blue;
    width: 100%;
}

/* DEVIATION BLOCK */
#deviation {
    width: 33%;
    display: inline-block;
}

#legend {
    width: 100%;
}

#containerDev {
    float: left;
    width: 49%;
    border-style: solid; /*todo: eliminare*/
    display: table;
}

#divMissing, #divRepetition, #divMismatch {
    display: inline-flex;
    width: 100%;
}

#barMissing, #barRepetition, #barMismatch {
    float: right;
    width: 85%;
}

#containerTop {
    float: right;
    width: 49%;
    border-style: solid; /*todo: eliminare*/
}

#containerState {
    width: 100%;
    border-style: solid; /*todo: eliminare*/
    height: 200px; /*todo: eliminare*/
    clear: both;
    overflow-y: scroll;
}

.rectDevs {
    min-width: 20px;
}

/* FITNESS BLOCK */

#fitness {
    width: 33%;
    display: inline-block;
    border-style: solid; /*todo: eliminare*/
}

#fitnessViolin, #costViolin {
    float: left;
    width: 20%;
}

#fitnessBar, #costBar {
    float: right;
    width: 70%;
}

/* INCIDENT BLOCK */

#incident {
    width: 32%;
    display: inline-block;
    border-style: solid; /*todo: eliminare*/
}

#parallelIncidents{
    width: 50%;
    float: left;
}

#barIncidents{
    width: 40%;
    float: right;
}

/* */

#pattern {
    width: 50%;
    display: inline-block;
    border-style: solid; /*todo: eliminare*/
}

#detail {
    background: gray;
    width: 49%;
    display: inline-block;
}

